<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener
			class-name="com.modular.framework.liteners.reportlistener.ExtentReportListener" />
			<listener
			class-name="com.modular.framework.liteners.reportlistener.ExcelReportListener" />
	</listeners>
	<test name="Test">
		<classes>
			<class name="com.modular.framework.MainClass" />
			<class name="com.modular.framework.TestClass" />
		</classes>
	</test> <!-- Test -->
	<test name="Screenshot Test">
		<classes>
			<class name="com.modular.framework.TestScreenShot" />
			<class name="com.modular.framework.TestFailClass" />
		</classes>
	</test> <!-- Test -->
	<test name="Browser Test">
		<classes>
			<class name="com.modular.framework.TestBrowserWindow" />
		</classes>
	</test> <!-- Test -->
	<test name="JavaScript Test">
		<classes>
			<class name="com.modular.framework.TestJavaScript" />
		</classes>
	</test> <!-- Test -->
	<test name="ExcelReader Test">
		<classes>
			<class name="com.modular.framework.TestExcelData" />
			<class name="com.modular.framework.TestCheckBox" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
